*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(108, 135, 135);
    height: 100vh;
}

h1 {
    font-family: "Orbitron";
    font-size: 55px;
    text-align: center;
    margin-top: 30px;
    color: #d3fed1;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
}



.container{
    background-color:#333;
    border-radius: 5px;
    height: 575px;
    width:450px;
    margin:auto auto;
    display: flex;
    flex-direction: column;
    padding:15px;
    margin-top: 40px;
    transition: transform 1s,box-shadow 1s;
    box-shadow: 20px 20px 25px rgb(0, 0, 0);
}
.container:hover{
    /* transform:scale(1.1) */
}
.container .screen{
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    height: 140px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content:center;
    font-size: 40px;
    color:rgb(61, 226, 43);
    font-family: "Orbitron";
    transition: transform 0.5s, box-shadow 0.5s;

}
.screen:hover{
    box-shadow: 0px 0px 8px rgb(61,226,43);
}

.firstSecondNumOperator{
    display: flex;
}
.firstNumScreen{
    margin: 5px;
}
.operatorScreen{
    margin: 5px;
}
.secondNumScreen{
    margin: 5px;
}
.equalsToScreen{
    margin: 5px;
    font-size: 45px;
}
.container .buttons{
    flex:1;
    display: flex;
    flex-direction: column;
}

.container .buttons .firstFourBtns{
    flex:1; 
}
.container .buttons .secondFourBtns{
    flex:1;
}
.container .buttons .thirdFourBtns{
    flex:1;
}
.container .buttons .fourthFourBtns{
    flex:1;
}
.container .buttons .fifthTwoBtns{
    margin:10px 0px;
    flex:1;
}
.fifthTwoBtns .clearBtn:hover{
    box-shadow: 6px 6px 6px red;
    color: red;
}
.fifthTwoBtns .deleteBtn:hover{
    box-shadow: 6px 6px 6px rgb(0,255,255);
    color: rgb(0,255,255);
}

.clearBtn, .deleteBtn{
    height: 65px;
}
.clearBtn{
    background-color:#444;
}
.deleteBtn{
    background-color: #444;
}

.container .fourBtns{
    display: flex;
}
button{
    display: block;
    height:60px;
    background-color: #444;
    color: white;
    flex:1;
    font-size: 20px;
    margin:5px;
    border: 0px solid gray;
    border-radius: 5px;
    cursor: pointer;
    transition:transform 0.5s, box-shadow 0.1s, font-size 0.2s;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    font-family: "Orbitron";
}
button:hover{
    font-size:30px;
    font-weight: bolder;
    color:rgb(61,226,43);
    box-shadow:6px 6px 6px rgb(61,226,43);
    transform: translateY(-5px);
}
